{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends 'elements/list.html.twig' %}

{% set nb = count_models %}

{% block infoline %}
    {% set infoline = {
        'label': _Tn("%count model", "%count models", count_models, "auto")|replace({"%count": count_models}),
        'route': {
            'name': 'modelsFilter'
        }
    } %}
    {{ parent() }}
{% endblock %}

{% block infoline_actions %}
    <a
        class="ui tiny labeled icon button"
        href="{{ url_for("modelAdd") }}"
    >
        <i class="plus circle green icon" aria-hidden="true"></i>
        {{ _T("Add new model", "auto") }}
    </a>
{% endblock %}

{% block header %}
    {% set columns = [
        {'label': _T("Model", "auto")},
        {'label': _T("Brand", "auto")}
    ] %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% for m in models %}
        {% set edit_link = url_for("modelEdit", {"id": m.id}) %}
    <tr class="{{ loop.index is odd ? 'odd' : 'even' }}">
        <td data-col-label="{{ _T("Model", "auto") }}"><a href="{{ edit_link }}">{{ m.model }}</a></td>
        <td data-col-label="{{ _T("Brand", "auto") }}"><a href="{{ edit_link }}">{{ m.brand.value }}</a></td>
        <td class="center actions_row nowrap">
            <a href="{{ edit_link }}" class="tooltip action">
                <i class="ui edit icon"></i>
                <span class="visually-hidden">{{ _T("Edit %property", "auto")|replace({"%property": m.brand.value ~ ' ' ~ m.model}) }}</span>
            </a>
            <a
                class="delete tooltip"
                href="{{ url_for("removeModel", {"id": m.id}) }}"
            >
                <i class="ui red trash icon"></i>
                <span class="visually-hidden">{{ _T("%property: remove from database", "auto")|replace({"%property": m.brand.value ~ ' ' ~ m.model}) }}</span>
            </a>
        </td>
    </tr>
    {% else %}
        <tr><td colspan="4" class="emptylist">{{ _T("no record found", "auto") }}</td></tr>
    {% endfor %}
{% endblock %}
