{% extends 'page.html.twig' %}

{% block content %}
    {% set name = obj.name %}
    {% set pk = obj.pk %}
    {% set field = obj.field %}
        <div class="bigtable">
    {% if name == 'brands' %}
        {% if models|length > 0 %}
            <p>{{ _T("Registered models for the brand '%s':", "auto")|replace({'%s': obj.value}) }}</p>
            <ul>
            {% for model in models %}
                <li><a href="{{ path_for("modelEdit", {"action": "edit", "id": model.id}) }}">{{ model.model }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>{{_T("The brand '%s' does not have any registered model at this time.", "auto")|replace({'%s': obj.value}) }}</p>
        {% endif %}
            <p><a href="{{ path_for("modelAdd" )}}?brand={{ obj.id }}">{{_T("Create a new model for brand '%s'", "auto")|replace({'%s': obj.value}) }}</a></p>
    {% endif %}
        </div>
{% endblock %}
