{#
/**
 * Copyright © 2003-2024 The Galette Team
 *
 * This file is part of Galette (https://galette.eu).
 *
 * Galette is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Galette is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Galette. If not, see <http://www.gnu.org/licenses/>.
 */
#}
{% extends 'page.html.twig' %}

{% block content %}
    {% set name = obj.name %}
    {% set pk = obj.pk %}
    {% set field = obj.field %}

    <div class="ui basic fitted segment">
        <a class="ui tiny labeled icon button" href="{{ url_for("propertyAdd", {"property": 'brand'}) }}">
            <i class="plus circle green icon" aria-hidden="true"></i>
            {{ _T("Add new brand", "auto") }}
        </a>
    </div>

    <div class="ui segment">
    {% if models|length > 0 %}
        <h2 class="ui header">
            <div class="content">
                {{ _T("Registered models for the brand '%s'", "auto")|replace({'%s': obj.value}) }}
            </div>
        </h2>
        <div class="ui relaxed divided list">
            {% for model in models %}
                <div class="item">
                    <div class="content">
                        <div class="header">
                            <a href="{{ url_for("modelEdit", {"action": "edit", "id": model.id}) }}">{{ model.model }}</a>
                        </div>
                    </div>
                </div>
                <li></li>
            {% endfor %}
        </div>
    {% else %}
        <div class="ui info message">
            <p>{{ _T("The brand '%s' does not have any registered model at this time.", "auto")|replace({'%s': obj.value}) }}</p>
        </div>
    {% endif %}
    </div>
{% endblock %}
