{% extends 'page.html.twig' %}

{% block content %}
    {% set name = obj.name %}
    {% set pk = obj.pk %}
    {% set field = obj.field %}

    <div class="ui basic fitted segment">
        <a class="ui tiny labeled icon button" href="{{ url_for("propertyEdit", {"property": 'brand', "action": "add"}) }}">
            <i class="plus circle green icon" aria-hidden="true"></i>
            {{ _T("Add new brand", "auto") }}
        </a>
    </div>

    <div class="ui segment">
    {% if models|length > 0 %}
        <h2 class="ui header">
            <div class="content">
                {{ _T("Registered models for the brand '%s':", "auto")|replace({'%s': obj.value}) }}
            </div>
        </h2>
        <div class="ui relaxed divided list">
            {% for model in models %}
                <div class="item">
                    <div class="content">
                        <div class="header">
                            <a href="{{ url_for("modelEdit", {"action": "edit", "id": model.id}) }}">{{ model.model }}</a>
                        </div>
                    </div>
                </div>
                <li></li>
            {% endfor %}
        </div>
    {% else %}
        <div class="ui info message">
            <p>{{_T("The brand '%s' does not have any registered model at this time.", "auto")|replace({'%s': obj.value}) }}</p>
        </div>
    {% endif %}
    </div>
{% endblock %}
